.banner{
    background: url(../images/nature.jpg)no-repeat center;
    background-size: 100%;
    height: 65vh;
    padding: 140px;
}
.item{
    height: 400px;
    width: 340px;
    background: rgba(212, 213, 214, 0.184);
    padding: 30px;
    border-radius: 10px;
    transition: 1s;
}
.item:hover{
    background-color: rgba(0,0,0,0.3);
}
.img{
    height: 130px;
    width: 130px;
    border-radius: 50%;
    border: 10px solid rgba(240, 248, 255, 0.536);
    transition: 1s;
}
.img:hover{
    background: transparent;
    
}
h1{
    font-size: 24px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    letter-spacing: 2px;
}

h1:hover{
    color: rgba(255, 0, 0, 0.689);
}
p{
    font-size: 18px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(240, 248, 255, 0.47);
}
p:hover{
    color: yellow;
}
/* .tobi{
    float: right;
} */
.tobi .kobi{
    display: inline-block;
}
.kobi img{
    height: 30px;
    width: 30px;
}
.kobi{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 10px solid rgba(240, 248, 255, 0.536);
    margin: 5px;
}
button{
    background: rgba(240, 248, 255, 0.536);
    color: aliceblue;
    padding: 12px 42px;
    font-size: 15px;
    margin-top: 30px;
    margin-left: 5px;
    margin-right: 5px;
    border: none;
    border-radius: 4px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: 1s;
}
button:hover{
    background: transparent;
}